In [1]:
import pandas as pd 
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

In [2]:
data = pd.read_csv('./Desktop/FAX/OSPI/ranking.csv')

In [3]:
data.head()

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD
0,1610612747,0,22019,2020-03-01,West,L.A. Lakers,59,46,13,0.780,21-7,25-6
1,1610612743,0,22019,2020-03-01,West,Denver,60,41,19,0.683,24-7,17-12
2,1610612746,0,22019,2020-03-01,West,LA Clippers,60,41,19,0.683,25-6,16-13
3,1610612745,0,22019,2020-03-01,West,Houston,59,39,20,0.661,21-8,18-12
4,1610612762,0,22019,2020-03-01,West,Utah,59,37,22,0.627,21-9,16-13

In [4]:
data.shape

(179533, 12)

In [6]:
data.columns

Index(['TEAM_ID', 'LEAGUE_ID', 'SEASON_ID', 'STANDINGSDATE', 'CONFERENCE',
       'TEAM', 'G', 'W', 'L', 'W_PCT', 'HOME_RECORD', 'ROAD_RECORD'],
      dtype='object')

In [7]:
features = [ 'W','L','G']

In [8]:
target = ['W_PCT']

In [9]:
data = data.dropna()

In [10]:
y = data[target]

In [11]:
X = data[features]

In [12]:
X.iloc[3]

W    39
L    20
G    59
Name: 3, dtype: int64

In [13]:
y*100

        W_PCT
0        78.0
1        68.3
2        68.3
3        66.1
4        62.7
5        61.7
6        60.7
7        48.3
8        43.3
9        43.3
10       43.1
11       42.6
12       39.3
13       28.8
14       21.3
15       77.6
16       67.8
17       67.8
18       66.1
19       62.7
20       61.7
21       60.0
22       48.3
23       44.1
24       43.1
25       42.6
26       42.4
27       39.3
28       29.3
29       21.7
...       ...
179503   68.3
179504   65.9
179505   58.5
179506   58.5
179507   53.7
179508   53.7
179509   52.4
179510   46.3
179511   45.1
179512   40.2
179513   35.4
179514   30.5
179515   28.0
179516   23.2
179517   18.3
179518   68.3
179519   65.9
179520   58.5
179521   58.5
179522   53.7
179523   53.7
179524   52.4
179525   46.3
179526   45.1
179527   40.2
179528   35.4
179529   30.5
179530   28.0
179531   23.2
179532   18.3

[179533 rows x 1 columns]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=324)

In [15]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [16]:
y_prediction = regressor.predict(X_test)
y_prediction

array([[0.57752142],
       [0.35311041],
       [0.60636054],
       ...,
       [0.46207343],
       [0.32407294],
       [0.49719916]])

In [17]:
y_test.describe()

              W_PCT
count  59246.000000
mean       0.492043
std        0.188130
min        0.000000
25%        0.373000
50%        0.500000
75%        0.619000
max        1.000000

In [18]:
RMSE = sqrt(mean_squared_error(y_true = y_test, y_pred = y_prediction))

In [19]:
print(RMSE)

0.12377775304226633

In [20]:
regressor = DecisionTreeRegressor(max_depth=20)
regressor.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=20, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [21]:
y_prediction = regressor.predict(X_test)
y_prediction

array([0.561, 0.263, 0.585, ..., 0.463, 0.318, 0.5  ])

In [22]:
y_test.describe()

              W_PCT
count  59246.000000
mean       0.492043
std        0.188130
min        0.000000
25%        0.373000
50%        0.500000
75%        0.619000
max        1.000000

In [23]:
RMSE = sqrt(mean_squared_error(y_true = y_test, y_pred = y_prediction))

In [24]:
print(RMSE)

0.00019488061120756837

In [25]:
for_export = data.reset_index()

In [26]:
for_export_labels_only = pd.DataFrame(for_export["index"].copy())
pd.DataFrame(y_prediction).to_csv('./Desktop/FAX/OSPI/predictedData.csv')